@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./header.scss";
@import "./profile.scss";
@import "./friend_family.scss";
body {
  background-color: #f8f9fb !important;
}
.wrapper {
  .auth-narrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    .sd-card {
      width: 100%;
    }
    .auth-card {
      padding: 40px;
    }
    .sd-elevation-1 {
      box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
    }
    .sd-button {
      border-radius: 100px;
      height: 48px;
      padding: 0 24px;
      min-width: 120px;
      width: 100%;
      background: #1871ca;
      border-color: #1871ca;
    }
    .sublink {
      padding-top: 18px;
      text-align: center;
    }
    .react-datepicker-wrapper {
      width: 100%;
      .react-datepicker__input-container {
        width: 100%;
      }
    }
    .dob_sex_wrapper {
      display: flex;
      .dob_ip,
      .sex_ip {
        width: 50%;
      }
      .dob_ip {
        padding-right: 5px;
      }
    }
  }
}
.land-page {
  .img {
    padding: 195px 60px 207px;
    margin-bottom: 0;
    background: url(../assets//AdobeStock_207417349.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .img-text-container {
      display: flex;
      // width: 83vw;
      padding: 0 0 40px;
      margin: 30px auto 0;
      flex-direction: column;
      align-items: center;
      text-align: center;
      @media screen and (min-width: 737px) {
        width: 44vw;
      }
      .img-text-container-h1 {
        position: relative;
        margin-top: 0;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 5px;
        line-height: 1.25;
        font-size: 24px;
        color: #fff;
        letter-spacing: 12px;
        text-shadow: 4px 4px 60px rgba(0, 0, 0, 0.6);
        @media screen and (min-width: 737px) {
          color: #fff;
          font-size: 50px;
          line-height: 1.22;
          white-space: nowrap;
        }
      }
      .img-text-container-p {
        font-size: 18px;
        margin-bottom: 30px;
        color: #fff;
        font-weight: 600;
        line-height: 1.3;
        text-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
        @media screen and (min-width: 737px) {
          font-size: 24px;
        }
      }
    }
  }
}
.land-footer {
  background-color: #edefea;
  padding: 30px 20px 0;
  @media screen and (min-width: 737px) {
    .land-footer {
      padding: 36px 20px 0;
    }
  }
  .footer-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    @media screen and (max-width: 737px) {
      display: block;
    }
    .footer-container-column {
      display: block;
      margin-right: 2.3576515979%;
      width: 20%;
      @media screen and (max-width: 737px) {
        width: 100%;
        margin-top: 8px;
      }
    }
  }
  .footer-links {
    margin: 0;
    list-style: none;
    padding: 0 !important;
    > li:first-child {
      margin-top: 0;
    }
    > li {
      line-height: 1.2;
      font-size: 14px;
      overflow: hidden;
      margin-top: 9px;
      > a {
        color: #333435;
      }
    }
  }

  .footer-subheading {
    margin: 0 0 6px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.3;
  }
  .footer-security {
    display: flex;
    padding: 10px 0px 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 737px) {
      display: table;
      padding: 25px 0;
      margin: 0 auto;
    }
  }
}
a {
  text-decoration: none;
  color: #333435;
  &:hover {
    color: #333435;
    text-decoration: none !important;
  }
}
button:disabled {
  cursor: not-allowed;
}
.hidden {
  display: none;
}
.sc-user-input--file-icon-wrapper {
  display: none !important;
}
.capitalize {
  text-transform: capitalize !important;
}
@media screen and (min-width: 767px) {
  .wrapper {
    .auth-narrow {
      padding-top: 60px;
      .sd-card {
        position: relative;
        width: 390px;
        padding: 24px;
        transform: scaleY(1);
        transform-origin: top;
        transition: 0.3s all ease-in-out;
      }
      &.sign-in {
        padding-top: 120px;
      }
    }
  }
}
