@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./header.scss";
@import "./profile.scss";
@import "./friend_family.scss";
body {
  background-color: #f8f9fb !important;
}
.wrapper {
  .auth-narrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    .sd-card {
      width: 100%;
    }
    .auth-card {
      padding: 40px;
    }
    .sd-elevation-1 {
      box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
    }
    .sd-button {
      border-radius: 100px;
      height: 48px;
      padding: 0 24px;
      min-width: 120px;
      width: 100%;
      background: #1871ca;
      border-color: #1871ca;
    }
    .sublink {
      padding-top: 18px;
      text-align: center;
    }
    .react-datepicker-wrapper {
      width: 100%;
      .react-datepicker__input-container {
        width: 100%;
      }
    }
    .dob_sex_wrapper {
      display: flex;
      .dob_ip,
      .sex_ip {
        width: 50%;
      }
      .dob_ip {
        padding-right: 5px;
      }
    }
  }
}
button:disabled {
  cursor: not-allowed;
}
.hidden {
  display: none;
}
.sc-user-input--file-icon-wrapper {
  display: none !important;
}
.capitalize {
  text-transform: capitalize !important;
}
@media screen and (min-width: 767px) {
  .wrapper {
    .auth-narrow {
      padding-top: 60px;
      .sd-card {
        position: relative;
        width: 390px;
        padding: 24px;
        transform: scaleY(1);
        transform-origin: top;
        transition: 0.3s all ease-in-out;
      }
      &.sign-in {
        padding-top: 120px;
      }
    }
  }
}
