.basic-info {
  padding-top: 32px;
  .outer-container {
    max-width: 74rem;
    margin-left: auto;
    margin-right: auto;
    .module-content {
      .sd-card {
        position: relative;
        padding: 24px;
        background: #fff;
        transform: scaleY(1);
        transform-origin: top;
        visibility: visible;
        transition: 0.2s all ease-in-out;
      }
      .sd-elevation-1 {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }
  .profile-image {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 100%;
    height: 104px;
    width: 104px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    .avatar {
      background-color: #6f3598;
      border-radius: 100%;
      color: #fff;
      font-size: 32px;
      height: 96px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      width: 96px;
      line-height: 96px;
    }
  }
  .basic-info-content h1 {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 2rem;
  }
  .basic-info-details {
    display: flex;
    margin-bottom: 24px;
    max-width: 65%;
    & > div {
      margin-right: 32px;
      .label-title {
        color: #6b6b6b;
        font-size: 0.875rem;
      }
      .label-content {
        font-size: 1.125rem;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .profile-module {
    padding-bottom: 24px;
  }
  .basic-info-personal {
    min-height: 120px;
    .profile-image {
      height: 192px;
      width: 192px;
      position: absolute;
      right: 84px;
      top: -32px;
      .avatar {
        background-color: #6f3598;
        border-radius: 100%;
        color: #fff;
        font-size: 48px;
        height: 176px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        width: 176px;
        line-height: 176px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .profile-module {
    padding-bottom: 8px;
  }
  .profile-image {
    margin: -48px auto 24px;
  }
  .basic-info-content h1 {
    text-align: center;
    font-size: 1.65rem;
  }
  .basic-info-details {
    max-width: 100%;
    justify-content: center;
    & > div {
      .label-title {
        text-align: center;
      }
      .label-content {
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 979px) and (min-width: 768px) {
  .basic-info {
    margin-top: 24px;
  }
  .profile-module {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 980px) {
  .profile-module {
    .outer-container {
      .module-content {
        margin-right: 0;
        float: left;
        display: block;
        margin-right: 2.0408163265%;
        width: 65.9863945578%;
        margin-left: 17.0068027211%;
      }
    }
  }
}
@media screen and (min-width: 1025px) {
  .sd-card {
    padding: 40px !important;
  }
}
