.main-content {
  padding-top: 32px;
  .basic-info {
    padding-top: 32px;
    .outer-container {
      max-width: 74rem;
      margin-left: auto;
      margin-right: auto;
      .module-content {
        .sd-card {
          position: relative;
          padding: 24px;
          background: #fff;
          transform: scaleY(1);
          transform-origin: top;
          visibility: visible;
          transition: 0.2s all ease-in-out;
        }
        .sd-elevation-1 {
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        }
      }
    }
    .profile-image {
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
      background-color: #fff;
      border-radius: 100%;
      height: 104px;
      width: 104px;
      display: flex;
      align-items: center;
      justify-content: center;
      .avatar {
        background-color: #6f3598;
        border-radius: 100%;
        color: #fff;
        font-size: 32px;
        height: 96px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        width: 96px;
        line-height: 96px;
      }
    }
    .basic-info-content h1 {
      margin-bottom: 8px;
      font-weight: 400;
      font-size: 2rem;
    }
    .basic-info-details {
      display: flex;
      margin-bottom: 24px;
      max-width: 65%;
      & > div {
        margin-right: 32px;
        .label-title {
          color: #6b6b6b;
          font-size: 0.875rem;
        }
        .label-content {
          font-size: 1.125rem;
        }
      }
    }
  }
  .file-upload {
    padding-top: 32px;
    .outer-container {
      max-width: 74rem;
      margin-left: auto;
      margin-right: auto;
      .module-content {
        .sd-card {
          position: relative;
          padding: 24px;
          background: #fff;
          transform: scaleY(1);
          transform-origin: top;
          visibility: visible;
          transition: 0.2s all ease-in-out;
        }
        .sd-elevation-1 {
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        }
        .file-upload-card {
          .profile-card-heading {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: o;
          }
          .file-upload-details {
            .add-dna-button {
              appearance: none;
              display: inline-flex;
              border: 0;
              border-radius: 100px;
              align-items: center;
              flex-shrink: 0;
              font-family: "Avenir Next", Helvetica, Roboto, Arial, sans-serif;
              font-weight: 700;
              line-height: normal;
              text-decoration: none;
              user-select: none;
              vertical-align: middle;
              white-space: nowrap;
              transition: all 0.2s ease;
              height: 48px;
              padding: 0 24px;
              min-width: 120px;
              font-size: 1rem;
              background-color: transparent;
              box-shadow: inset 0 0 0 2px #1871c9;
              color: #1871c9;
            }
            .notice {
              color: #6b6b6b;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .main-content {
    .basic-info {
      .profile-module {
        padding-bottom: 24px;
      }
      .basic-info-personal {
        min-height: 120px;
        .profile-image {
          height: 192px;
          width: 192px;
          position: absolute;
          right: 84px;
          top: -32px;
          .avatar {
            background-color: #6f3598;
            border-radius: 100%;
            color: #fff;
            font-size: 48px;
            height: 176px;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            width: 176px;
            line-height: 176px;
          }
        }
      }
    }
  }
  .file-upload-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
  }
}
@media screen and (max-width: 768px) {
  .main-content {
    padding-top: 0;
    .basic-info {
      .profile-module {
        padding-bottom: 8px;
      }
      .profile-image {
        margin: -48px auto 24px;
      }
      .basic-info-content h1 {
        text-align: center;
        font-size: 1.65rem;
      }
      .basic-info-details {
        max-width: 100%;
        justify-content: center;
        & > div {
          .label-title {
            text-align: center;
          }
          .label-content {
            text-align: center;
          }
        }
      }
    }
    .notice {
      padding-bottom: 16px;
    }
  }
}
@media screen and (max-width: 979px) and (min-width: 768px) {
  .main-content {
    .basic-info {
      margin-top: 24px;
    }
    .profile-module {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
}

@media screen and (min-width: 980px) {
  .main-content {
    .profile-module {
      .outer-container {
        .module-content {
          margin-right: 0;
          // float: left;
          display: block;
          margin-right: 2.0408163265%;
          width: 65.9863945578%;
          margin-left: 17.0068027211%;
        }
      }
    }
  }
}
@media screen and (min-width: 1025px) {
  .sd-card {
    padding: 40px !important;
  }
}
